<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silence.sdk.ykonestore">

    <application>
        <activity
            android:name="com.silence.sdk.ykonestore.uikit.OneStoreActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="iap:api_version"
            android:value="5" />
        <meta-data
            android:name="iap:view_option"
            android:value="popup" />
    </application>
</manifest>
