<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silence.sdk.ykfacebook">

    <application>
        <activity
            android:name="com.silence.sdk.ykfacebook.uikit.FacebookActionActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- facebook登录-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="${Facebook_app_id}" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${fb_login_protocol_scheme}" />
            </intent-filter>
        </activity>
    </application>
</manifest>
