<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silence.sdk.ykgoogleplay">

    <application>
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />
        <activity
            android:name="com.silence.sdk.ykgoogleplay.GooglePlayActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
