<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silence.sdk.ykgoogle" >

    <application>
        <activity
            android:name="com.silence.sdk.ykgoogle.uikit.GoogleLoginActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
